<!DOCTYPE HTML>
<html>
<head>
<script>
function WebSocketTest()
{
	if ("WebSocket" in window)
	{
		// Let us open a web socket
		var server = "ws://" + window.location.host + "/fish";
		var ws = new WebSocket(server);
		document.body.style.background = "green";
		var h1 = document.getElementsByTagName("h1");
		h1.item(0).childNodes.item(0).nodeValue = "Connected to " + server;

		ws.onmessage = function (evt)
		{
			var received_msg = evt.data;
			console.log("Message is received...", received_msg);
			window.location = received_msg;
		};

		ws.onclose = function()
		{
			document.body.style.background = "red";
			console.log("Connection is closed...");
		};
	}
	else
	{
		// The browser doesn't support WebSocket
		console.log("WebSocket NOT supported by your Browser!");
	}
}
</script>
<style>
body { background-color: red; }
</style>
</head>
<body onload=WebSocketTest()>
<h1>Websocket test</h1>
</body>
</html>
